@import "../../style/variables.scss";

// Navigation Style

.navigation-menu {
  .navbar {
    margin: 30px 0 30px 0;
  }
}

.navigation-menu {
  background-color: $my-white;
  border: none;
}


.nav-link {
  color: $my-grey !important;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.nav-link:hover {
  color: $my-red !important;
}

.btn{
  &-link {
    color: $my-black !important;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
  }

  &-link:hover {
    color: $my-green !important;
  }

  &-sign-up {
    color: $my-red !important;
  
    width: 150px;
    height: 45px;
  
    border: 1px solid $my-red;
    border-radius: 50px;
  
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

  }

  &-sign-up:hover {
    background-color: $my-icons;
  }

}

@media (max-width: 768px) {
  .navbar{
  &-nav {
    text-align: center;
  }

  &-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
}
