.about {
    margin: 0;
    
    text-align: justify;
  }

  .card-title{
    font-size: 18px;
    color: #0B132A;
    font-family: 'Rubik', sans-serif;
  }

  .card-subtitle{
    font-size: 14px;
    color: #4F5665;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
  }

  .plan-title-name{
    font-size: 14px;
    color: #4F5665;
    font-family: 'Rubik', sans-serif;
  }
