@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200;300&family=Rubik:wght@300;500&display=swap');

.hero-text > h1{
    color: #0B132A;
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
}

.hero-subtitle{
    color: #4F5665;
    font-size: 16px;
}

.button-get-started > button{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;

width: 250px;
height: 60px;
left: 150px;
top: 476.77px;

background: #F53838;
// box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
box-shadow: 0px 23px 41px -14px #F53838;
border-radius: 10px;

}


.hero-img{
    height: 300px;
    width: auto;
}

.hero-title{
    font-size: 50px;
    color: #0B132A;
    font-family: 'Rubik', sans-serif;
    // width: 70%;
}

.hero-subtitle{
    font-size: 16px;
    color: #4F5665;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    margin: 30px 0 30px 0;
    // width: 70%;
}

@media (max-width: 768px) { 
    .hero-img {
        height: 200px;
        width: auto;
    }

    .hero-title > h1{
        font-size: 40px;
    }

    .hero-subtitle > p{
        font-size: 20px;
    }

    // .button-get-started > button{
    //     align-items: center;
    // }
 }

 .icon-container {
    background-color: #FFECEC;
    display: flex;
align-items: center;
justify-content: center;
 }

 .icon-container > ion-icon{
    color: #F53838;
    font-size: 24px;
    align-items: center;
 }

 .dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

//   .user-location-servers{}