.hero-title{
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    color: #0B132A;
}


.dot{
    height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.button-get-started > button{
  background-color: #F53838;
}

