@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200;300&family=Rubik:wght@300;500&display=swap');

.svg {
    display: inline-block;
    vertical-align: middle;
  }

  .map-container-ss{
    background-color: aqua;
  }

 .map-title > h1{
    font-size: 135px;
    color: #0B132A;
    font-family: 'Rubik', sans-serif;
 }

 .map-subtitle > p{
  font-size: 35px;
    color:blue;
    font-family: 'Rubik', sans-serif;
 }