.navigation-menu{
    background-color: #ffffff;
    border: none;
}

.navlinks{
    font-family: 'Rubik', sans-serif;
    color: #4F5665;
    margin-right: 30px;
    font-size: 16px;
}

.sign-in{
    color: #0B132A;
    font-size: 16px;
}

.sign-up{
    color: #f53855;
}