// CUSTOM COLORS
$my-red: #F53838;
$my-black: #0B132A;
$my-grey: #4F5665;
$my-icons: #FFECEC;
$my-green: #2FAB73;
$my-gold: #FEA250;
$my-white: #ffffff;
$my-hover: #d00000;
$my-divider: #EEEFF2;
$my-eee: #EEE;
$my-footer: #f8f8f8;
$my-dot: #bbb;
$my-plan: #FBFBFB;


//dimensions (small -medium -large)