* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-container {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10%;
}

.hero-description {
  display: flex;
  flex-direction: row;
  flex-direction: column;
}

.bolded {
  font-weight: bold;
}

.hero-description > p {
  font-family: "Rubik", sans-serif;
  color: #0b132a;
  font-size: 50px;
  margin-bottom: 40px;
}

.small-description {
  font-family: "Rubik", sans-serif;
  color: #4f5665;
  font-size: 16px;
  margin-bottom: 40px;
}

.hero-description > button {
  width: 250px;
  height: 60px;
  background: #f53838;
  //   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  box-shadow: rgba(245, 56, 56, 1) 0px 18px 60px 0px;
  cursor: pointer;
}

.user-locations-servers-container {
  background-color: #f6f6f6;
  height: 30vh;
  display: flex;
  justify-content: center;
}

.u-l-s-details {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  justify-content: space-around;
  margin: auto;
  width: 50%;

  width: 1140px;
  height: 200px;
  background: #ffffff;
  border-radius: 10px;
  align-items: center;
}

.users-icon {
  height: 55px;
  width: 55px;
  background-color: #FFECEC;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  margin-right: 30px;
  display: flex;
  justify-content: center;
}



.users-icon > ion-icon {
  color: #f53838;
  font-size: 24px;
  
}

.number {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #0b132a;
}

.title {
  font-family: "Rubik", sans-serif;

  font-size: 20px;
  color: #4f5665;
}

.users {
  display: flex;
  flex-direction: row;
}

.users-details {
  display: flex;
  flex-direction: column;
}

.locations {
  display: flex;
  flex-direction: row;
}

.locations-details {
  display: flex;
  flex-direction: column;
}

.locations-icon{
    height: 55px;
    width: 55px;
    background-color: #FFECEC;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    margin-right: 30px;
    display: flex;
    justify-content: center;
}

.locations-icon > ion-icon{
    color: #f53838;
  font-size: 24px;
}

.servers {
  display: flex;
  flex-direction: row;
}

.servers-details {
  display: flex;
  flex-direction: column;
}

.servers-icon{
    height: 55px;
    width: 55px;
    background-color: #FFECEC;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    margin-right: 30px;
    display: flex;
    justify-content: center;
}

.servers-icon > ion-icon{
    color: #f53838;
  font-size: 24px;
}


