@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@200;300&family=Rubik:wght@300;500&display=swap");
@import "../../style/variables.scss";

.features {
  &-container {
    background-color: $my-white;
    align-items: center;
    padding: 30px 10%;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  &-list-container {
    display: flex;
    flex-direction: column;
  }

  &-list {
    display: flex;
    flex-direction: row;
    margin: 5px 0 5px 0;
    align-items: center;
  }

  &-list-icon > ion-icon {
    color: $my-green;
    font-size: 24px;
    margin: 10px;
  }
  &-list-text {
    font-size: 14px;
  }
  &-title > h1 {
    font-size: 35px;
    font-family: "Rubik", sans-serif;
    color: $my-black;
  }

  &-subtitle > p {
    color: $my-grey;
    font-size: 15px;
    margin-top: 40px;
  }

  &-img {
    height: 400px;
    width: auto;
  }
}

.titi > h1 {
  font-family: "Rubik", sans-serif;
  color: $my-black;
  margin: 30px 0 30px 0;
}

.col > p {
  color: $my-grey;
  margin: 30px 0 30px 0;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .features {
    &-img {
      height: 300px;
      width: auto;
      margin-bottom: 40px;
    }
  }
}
